{% extends '_base.html' %}
{% load buttons %}

{% block content %}
<div class="pull-right noprint">
    {% if perms.nagios.add_nagioscontactgroup %}
        {% add_button 'nagios:nagioscontactgroup_add' %}
        {% import_button 'nagios:nagioscontactgroup_import' %}
    {% endif %}
    {% export_button content_type %}
</div>
<h1>{% block title %}Nagios ContactGroups{% endblock %}</h1>
<div class="row">
	<div class="col-md-12">
        {% include 'utilities/obj_table.html' with bulk_delete_url='nagios:nagioscontactgroup_bulk_delete' %}
    </div>
</div>
{% endblock %}
